[user]
	email = lihang.lin@gmail.com
	name = Li-Hang Lin

[core]
	editor = emacs
	whitespace = trailing-space,space-before-tab,cr-at-eol
#	whitespace=fix,indent-with-non-tab,trailing-space,cr-at-eol

[merge]
	tool = ediff

[alias]
	diff = diff --color
	s = status
	lstag = log --tags --decorate --simplify-by-decoration --oneline

[color]
ui = auto
branch = auto
diff = auto
status = auto
log = auto
grep = true

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
whitespace = red reverse

[color "status"]
#added = yellow
#changed = green
untracked = cyan

[url "https://github.com/"]
	insteadOf = git://github.com/
[url "https://git.qemu.org/git/"]
	insteadOf = git://git.qemu-project.org/
[url "https://git.qemu.org/git/"]
	insteadOf = git://git.qemu.org/
[url "https://anongit.freedesktop.org/git/"]
	insteadOf = git://anongit.freedesktop.org/
[pull]
	rebase = true
[safe]
